    <header id="header">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-12 overflow">
               <div class="social-icons pull-right">
                    <ul class="nav nav-pills">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> -->
         </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <h1><img src="images/logo.png" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/team">The Team</a></li>
                    <li class="dropdown"><a href="publications">Publications</a></li>
                    <li class="dropdown"><a href="/datacenter">Data Center</a></li>
                    <li class="dropdown"><a href="/login">Log In</a></li>               
                    <li class="dropdown"><a href="https://goo.gl/ZdfzMy">Public Survey</a></li>               
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->

<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>Welcome to SciBase!</h1>
                    <p>A study in Machine Learning, Repository and the first complete Web-Dictionary of Scholastic Information System</p>
                    <a href="#" class="btn btn-common">LOGIN</a>
                </div>
                <a href="http://pesitsouth.pes.edu/camms"><img src="images/home/slider/hill.png" class="slider-hill" alt="slider image"></a>
              <!--   <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image"> -->
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/icon1.png" alt="">
                    </div>
                    <h2>SciBase Graph</h2>
                    <p>The SciBase project aims to model entity data and relationships between every author, article and journal in the world as a graph. This graph is openly accessible to users through code as well as dynamic datasets. </p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/icon2.png" alt="">
                    </div>
                    <h2>SciBase VizKit</h2>
                    <p>A crucial aim of the SciBase project is to be able to exploit hidden patterns and relationships in the SciBase Graph to derive metrics for deeper understanding and analysis of author/article/journal data. The VizKit platform allows users to do just that albeit in an elegantly visual manner.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <a href="http://54.201.10.92:3001/public_articles"><img src="images/home/icon3.png" alt=""></a>
                    </div>
                    <h2>SciBase Open Peer Review</h2>
                    <p>The Open Peer Review (OPR) is an open and transparent framework that allows the community to engage in positive scientific discussion/critique about existing research work in the scientific domain. Users can host their work independenty or choose to discuss existing content fetched from <em>ArXive</em></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<!-- <section id="action" class="responsive">
    <div class="vertical-center">
         <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Triangle Corporate Template</h1>
                        <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="action">
    <div class="vertical-center">
         <div class="container">
            <div class="row">
                <div class="action count">
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="7000" data-speed="3000" data-from="0">{{ journal_count }}</h1>
                        <h3>Journals</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="12" data-speed="3000" data-from="0">{{ article_count }}</h1>
                        <h3>Articles</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0">{{ author_count }}</h1>
                        <h3>Authors</h3>
                    </div>
                    <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0">{{ institution_count }}</h1>
                        <h3>Institutions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <!-- <img src="images/home/image1.png" class="img-responsive" alt=""> -->
                    <iframe width="420" height="215" src="https://www.youtube.com/embed/8IuQzq8fEYU" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Internationality of Journals</h2>
                    <P>Measuring internationality of scientific journals is an open problem as there exists no metric to rank journals based on the extent or scale of internationality. Measuring internationality is qualitative, vague and open to interpretations and vested interests. With the tremendous increase in the number of journals in various fields, it has become an absolute necessity to evaluate, rank and categorize journals based on internationality. Therefore, it is essential to validate the credibility of an International tag associated with any journal since this is driving a volume of faculties and research scholars to publish their work in International Journals than in National journals</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Cobb Douglass Production Function</h2>
                    <P>Simulation of (IRS+DRS+CRS) Elasticity models using the Cobb Douglas Production Function.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <iframe width="420" height="215" src="https://www.youtube.com/embed/Uqyqgvkn3Yw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <!-- <img src="images/home/image1.png" class="img-responsive" alt=""> -->
                    <iframe width="420" height="315" src="https://www.youtube.com/embed/2qrovyRxLYQ" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>MTech Project Demo</h2>
                    <P>Demo of an alternate data schema.</P>
                </div>
            </div>
            <!-- <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <iframe width="420" height="215" src="https://www.youtube.com/embed/vU8dCYocuyI" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                </div>
            </div> -->
        </div>
    </div>
</section>
 <!--/#features-->

<!-- <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Happy Clients</h1>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a>
                    </div>
                     <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section> -->
<!--/#clients-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="http://pesitsouth.pes.edu/camms">CAMMS</a></li>
                <li><a href="http://www.scimagojr.com/">SciMago</a></li>
                <li><a href="http://aminer.org/">Aminer</a></li>
                <li><a href="http://www.slp.org.in/collnet/">CollNet</a></li>
                <li><a href="http://www.instmetrics.org/">Institute of Scientometrics</a></li>
                <li><a href="http://sci-hub.io/">Sci-Hub</a></li>
                <li><a href="http://arxiv.org/">Arxive</a></li>
                <li><a href="http://www.journalmetrics.com/">JournalMetrics.com</a></li>
                <li><a href="http://www.harzing.com/resources/publish-or-perish">Publish or Perish</a></li>
                <li><a href="http://www.journalindicators.com/">CWTS Journal Indicators</a></li>
            </ul>
                <!-- <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                     </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>  -->
            </div>
            <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:scibase@pes.edu">scibase@pes.edu</a> <br>
                        </address>

                        <h2>Address</h2>
                        <address>
                        PES Institute of Technology - Bangalore South Campus <br>
                        Hosur Road, <br>
                        (1km before Electronic City), <br>
                        Bangalore KA - 560100 <br>
                        </address>
                    </div>
                </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; SciBase | PES Institute of Technology - Bangalore South Campus. All Rights Reserved.</p>
                    </div>
                </div>
        </div>
    </div>
</footer>
