<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | SciBase</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dynatable.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/lightbox.min.js"></script>
    <script type="text/javascript" src="/javascripts/wow.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.zoomooz.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.countTo.js"></script>

  </body>
</html>