body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data-box {
	height: 275px;
}

.data-box-title {
    height: 75px;
}

.data-box-description {
    height: 120px;
}