body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.data-box {
	height: 275px;
}

.data-box-title {
    height: 75px;
}

.data-box-description {
    height: 120px;
}
.zoomContainer .col-sm-4, .col-sm-6{

	margin-top:20px;
	
}
.content-holder{
	margin:20px;
   	padding:10px;
   	border: 1px solid #00aeef;
   	box-shadow: 0px 1px 1px #00afef;
  	overflow: hidden;
  	min-height:230px;
  	width:280px;
}
.content-holder h3{
	font-size:24px;
}
.content-holder p{
	font-size:14px;
}
.slideshowNavigation .glyphicon{
	font-size:24px;
	font-weight: bold;
}
.slideshowNavigation button{
	margin:20px;
}